.footer {
    background-color: $negro;
    color: $blanco;

}

.footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly !important;
    height: 101px;
    align-items: center;
}

.footer p {
    text-align: center;
}

.footer li {
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}


.footer a:hover {
    background-color: #cceff9;
}